h2 {
    font-style: italic;
}

.userAddForm {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.userAddForm .regularButton {
    margin: 0 auto;
}

.userAddForm label {
    margin-bottom: 10px;
}

.userAddForm--error {
    color: red;
}